/* Asap */
@import url("https://fonts.googleapis.com/css2?family=Asap:wght@500&display=swap");

/* Baloo */
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&display=swap");

.home-news {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-news > .home-news-card {
  box-shadow: 0px 0px 22px 1px rgba(0, 0, 0, 0.6);
  border-radius: 25px;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.home-news > .home-news-card > .news-card-image {
  height: 95px;
  width: 355px;
}

.home-news > .home-news-card > .news-card-image > a > img {
  height: 95px;
  width: 355px;
  border-radius: 25px 25px 0 0;
}

.home-news > .home-news-card > .news-card-body {
  /* border: 2px solid red; */
  border-radius: 0 0 25px 25px;
  height: 300px;
  width: 355px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
  position: relative;
}

.home-news > .home-news-card > .news-card-body > .body-title {
  font-weight: bold;
  font-family: "Asap";
  margin-right: 0.8rem;
  margin-left: 0.8rem;
  margin-top: 0.5rem;
  text-align: justify;
}

.home-news > .home-news-card > .news-card-body > .body-text {
  font-weight: normal;
  font-family: "Asap", "Sans reif";
  margin-right: 0.8rem;
  margin-left: 0.8rem;
  text-align: justify;
  height: 180px;
  width: 330px;
  overflow-y: auto;
  text-overflow: ellipsis;
}

.home-news > .home-news-card > .news-card-body > .home-summoner-btn {
  width: 250px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  background: -webkit-linear-gradient(left, #928afc -3.77%, #6466f5 114.05%);
  box-shadow: 3px 6px 30px rgb(100 102 245 / 55%);
  -webkit-box-shadow: 3px 6px 30px rgb(100 102 245 / 55%);
  border-color: #928afc;
  color: white;
  transition: all 0.2s;
  position: absolute;
  bottom: 0;
}
