@media only screen and (min-width: 1000px) {
  .home-logo {
    width: 50% !important;
  }
}
@media only screen and (max-width: 999px) {
  .home-logo {
    width: 60% !important;
  }
}
@media only screen and (max-width: 450px) {
  .home-logo {
    width: 100% !important;
  }
}
