/* Leaderboard.css */
th:first-child,
td:first-child {
  position: sticky;
  left: 0px;
  background: #fff;
  white-space: nowrap;
  width: 1%;
}
th {
  color: #5e60ce;
  width: 25% !important;
}

.leaderboard-summoner-name {
  vertical-align: middle;
}
.rank-badge-1 {
  background-color: #ffc107;
}
.rank-badge-2 {
  background-color: #0d6efd;
}
.rank-badge-3 {
  background-color: #dc3545;
}

.rank-badge-default {
  background-color: #6c757d;
}

.rank-up {
  /* color: #81cef6; */
  background-color: #81cef6;
}
.rank-down {
  /* color: #dc3545; */
  background-color: #fb0f25ad;
}
.rank-same {
  /* color: #6c757d; */
  background-color: #6c757d;
}
.rank-new {
  /* background-color:#928afc; */
  background-color: #928afc;
}

.error-contact-link {
  color: #842539;
  font-style: bold;
}
a {
  text-decoration: none !important;
}
