.btn-outline-primary:focus,
.btn-outline-primary:active {
  outline: none !important;
  box-shadow: none !important;
}

.btn:hover {
  color: #fff;
}

.rank-selected {
  color: #fff;
  background-color: #4e3ef3cf;
  border-color: #4e3ef3cf;
}
.rank-selected:active {
  color: #fff;
  background-color: #4e3ef3cf;
  border-color: #4e3ef3cf;
}

.rank-not-selected {
  color: #4e3ef3cf;
  background-color: #fff;
  border-color: #4e3ef3cf;
}

.rank-not-selected:hover {
  background-color: rgb(78, 62, 243, 0.4);
  color: #fff;
}
