.input-large[class="input-large"] {
  width: 100px;
}
.search-summoner-form > .home-summoner-btn {
  background: -webkit-linear-gradient(left, #928afc -3.77%, #6466f5 114.05%);
  box-shadow: 3px 6px 30px rgb(100 102 245 / 55%);
  -webkit-box-shadow: 3px 6px 30px rgb(100 102 245 / 55%);
  border-color: #928afc;
  color: white;
  transition: all 0.2s;
}
