/* Asap */
@import url("https://fonts.googleapis.com/css2?family=Asap:wght@500&display=swap");

/* Baloo */
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&display=swap");

.summoner-card-desktop > .summoner-card-container {
  width: 700px;
  height: 240px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}

.summoner-card-desktop
  > .summoner-card-container
  > .row
  > .summoner-card-image-container {
  display: inline-block;
  padding-right: 0px;
  border-radius: 25px 0 0 25px;
  width: inherit;
  height: inherit;
  position: relative;
}

.summoner-card-desktop
  > .summoner-card-container
  > .row
  > .summoner-card-image-container
  > .summoner-card-region-level {
  /* Trick to center align absolute elements */
  left: 50%;
  bottom: 90%;
  margin-left: -70px;
  position: absolute;
  width: 140px;
  z-index: 1;
}
.summoner-card-desktop
  > .summoner-card-container
  > .row
  > .summoner-card-image-container
  > .summoner-card-region-level
  > .summoner-card-region {
  width: 70px;
  height: 35px;
  display: inline-block;
  border-radius: 25px 0 0 25px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  font-style: bold;
  font-family: "Asap", "Roboto";
}

.summoner-card-desktop
  > .summoner-card-container
  > .row
  > .summoner-card-image-container
  > .summoner-card-region-level
  > .summoner-card-level {
  width: 70px;
  height: 35px;
  display: inline-block;
  background-color: black;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  font-family: "Asap", "Roboto";
  border-radius: 0 25px 25px 0;
}

.summoner-card-desktop
  > .summoner-card-container
  > .row
  > .summoner-card-image-container
  > .summoner-card-image {
  width: inherit;
  height: inherit;
}

.summoner-card-desktop
  > .summoner-card-container
  > .row
  > .summoner-card-image-container
  > .summoner-card-image
  > img {
  position: relative;
  width: 220px !important;
  height: 226px !important;
  border-radius: 16px 0 0 16px;
}

.summoner-card-desktop
  > .summoner-card-container
  > .row
  > .summoner-card-image-container
  > .summoner-card-name {
  text-align: center;
  position: absolute;
  height: 40px;
  bottom: 0px;
  left: 12px;
  color: #fff;
  font-weight: 700;
  font-style: normal;
  border-radius: 0 0 0 16px;
  font-size: 26px;
  width: 220px;
  font-family: "Asap", "Roboto";
}

.summoner-card-desktop > .summoner-card-container > .row > .col-3 {
  padding-left: 0;
  width: 400px;
}

/* Summoner info */
.summoner-card-desktop
  > .summoner-card-container
  > .row
  > .col-3
  > .summoner-card-info {
  width: inherit;
  height: inherit;
  padding-left: 0px;
  padding-right: 0px;
}

/* Solo ranked info  */
.summoner-card-desktop
  > .summoner-card-container
  > .row
  > .col-3
  > .summoner-card-info {
  width: 400px;
  /* border: 2px solid red; */
  height: 113px;
}

.summoner-card-desktop
  > .summoner-card-container
  > .row
  > .col-3
  > .summoner-card-info
  > .league-shield {
  margin-top: 0.2rem;
  margin-left: 0.6rem;
  vertical-align: top;
  display: inline-block;
}
.summoner-card-desktop
  > .summoner-card-container
  > .row
  > .col-3
  > .summoner-card-info
  > .league-shield
  > img {
  height: 70px;
  /* border: 2px solid #f4c874; */
}
.summoner-card-desktop
  > .summoner-card-container
  > .row
  > .col-3
  > .summoner-card-info
  > .league-queue-division {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  margin-top: 0.2rem;
  height: 70px;
  vertical-align: top;
  border: 2px solid #ff7a00;
  display: inline-block;
}
.summoner-card-desktop
  > .summoner-card-container
  > .row
  > .col-3
  > .summoner-card-info
  > .league-queue-division
  > .league-queue {
  margin-top: 0.2rem;
  margin-left: auto;
  margin-right: auto;
  width: 110px;
  border-radius: 25px;
  background-color: black;
  color: #fff;
  text-align: center;
  font-family: "Baloo 2", "Asap";
  font-size: 18px;
}
.summoner-card-desktop
  > .summoner-card-container
  > .row
  > .col-3
  > .summoner-card-info
  > .league-queue-division
  > .league-division {
  margin-top: 0.3rem;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  border-radius: 25px;
  color: #fff;
  text-align: center;
  font-family: "Baloo 2", "Asap";
  font-size: 18px;
}
.summoner-card-desktop
  > .summoner-card-container
  > .row
  > .col-3
  > .summoner-card-info
  > .league-stats {
  margin-right: 0.6rem;
  margin-top: 0.2rem;
  vertical-align: top;
  height: 70px;
  width: 98px;
  display: inline-block;
}
.summoner-card-desktop
  > .summoner-card-container
  > .row
  > .col-3
  > .summoner-card-info
  > .league-stats
  > .league-winrate {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  height: 40px;
  /* border: 2px solid #874; */
  font-family: "Baloo 2", "Asap";
  font-weight: normal;
  font-size: normal;
  font-size: 40px;
  justify-content: center;
}
.summoner-card-desktop
  > .summoner-card-container
  > .row
  > .col-3
  > .summoner-card-info
  > .league-stats
  > .league-lp {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  height: 30px;
  /* border: 2px solid #814; */
  width: inherit;
  font-family: "Baloo 2", "Asap";
  font-weight: normal;
  font-size: 30px;
  justify-content: center;
  color: #000000;
}

/* Champion Mastery */
.summoner-card-desktop
  > .summoner-card-container
  > .row
  > .summoner-card-mastery {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
}
.summoner-card-desktop
  > .summoner-card-container
  > .row
  > .summoner-card-mastery
  > .summoner-card-mastery-champion {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  padding: 0;
  height: 45px;
}

.summoner-card-desktop
  > .summoner-card-container
  > .row
  > .summoner-card-mastery
  > .summoner-card-mastery-champion
  > img {
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50%;
  height: inherit;
  width: inherit;
}
