.home-summoner-icon {
  width: 100%;
}

.full-card-border {
  border-radius: 25px;
}
@media screen and (max-width: 767px) {
  .img-card-border {
    border-radius: 25px 25px 0 0;
  }
}
@media screen and (min-width: 769px) {
  .img-card-border {
    border-radius: 25px 0 0 25px;
  }
}
